doctype html
head
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/styles/assets/main.css', type='text/css')


//content
body
    h1.neo π Forever
    hr
    div
        p.pi(style='word-wrap: break-word;')

script(type='module')
    include gen.js
