doctype html
meta(charset="UTF-8")
link(rel='stylesheet', href='/styles/assets/main.css', type='text/css')


//content
h1.neo Cyber Curriculum Directory
p You should have been given a direct link to a file being hosted here. If not contact take a look below to take a look at some curriculum.

ul
  li
    a(href="./introtocli") Introduction to the linux CLI and filesystem
  li
    a(href="ufw") Firewall basics<strong> COMING SOON</strong>
include /styles/footer.pug
