
doctype html
meta(charset="UTF-8")
link(rel='stylesheet', href='/styles/main.css', type='text/css')

//content
h1.neo.trans(style="font-size: 240px; padding-bottom: 0px") No♥
p We're sorry; you have reached a number that has been disconnected or is no longer in service. If you feel you have reached this recording in error, please check the number and try your call again.

include /styles/footer.pug
