doctype html
meta(charset="UTF-8")
link(rel='stylesheet', href='/styles/assets/main.css', type='text/css')

//content
h1.neo Welcome
p My website is going under heavy reconstruction
  em Like always. Proceed at your own risk.
hr
h1 Directory of stuff
ul
  li
    a(href="/Cyber") Cyber security related stuff
  li
    a(href="/files") My random files I have stored here
  li External stuff
    ul
      li
        a(href="https://2a03.party") 2a03.party  - This goes to my friend @flewkey’s area
      li
        a(href="https://wr2r.digital") wr2r.digital  - This goes to the Rutherford Radiosport Group page.
      li
        a(href="https://github.com/technicolor-creamsicle") My github  - This goes to my github. If theres any problems you can somehow find me there.
hr
h1 //TODO List
ul
  li ☑ Start working on making this site again
  li ☐ Finish bot help page
  li ☐ Sleep
  include /styles/footer.pug
