@font-face {
    font-family: 'JetBrains Mono';
    src: url('/styles/JetBrainsMono/web/eot/JetBrainsMono-Regular.eot'); /* IE9 Compat Modes */
    src: url('/styles/JetBrainsMono/web/eot/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/styles/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'), /* Modern Browsers */ url('/styles/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #f5f5f5;
    padding: 0 10px;
    background-color: #111111;
    font-family: 'JetBrains Mono', monospace;
    alignment: center;

}

h1, h2, h3 {
    line-height: 1.2
}

hr {
    border-color: red;
}

a {
    color: red;
}
a:visited {
    color: orange;
}

a:hover {
    color: darkred;
}

/*Does the cool thing*/
h1.neo {
    color: red;
    font-size: 120px;
    text-shadow: 2px 0 0 currentColor,
    7px 7px 0 orange,
    12px 12px 0 green,
    17px 17px 0 blue,
    22px 22px 0 indigo,
    27px 27px 0 mediumpurple;
    padding-right: 20px;
    padding-top: 0;
}

h2.neo {
    color: red;
    font-size: 60px;
    text-shadow: 2px 0 0 currentColor,
    7px 7px 0 orange,
    12px 12px 0 green,
    17px 17px 0 blue,
    22px 22px 0 indigo,
    27px 27px 0 mediumpurple;
    padding-right: 20px;
    padding-top: 0;
}

